<!-- wp:template-part {"slug":"header","theme":"BlockThemeCourse","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"},"fontSize":"x-large"} -->
<div class="wp-block-group has-x-large-font-size" style="padding-top:0;padding-bottom:0"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"100","lineHeight":"1.2"},"spacing":{"padding":{"top":"var:preset|spacing|80","right":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|80"},"margin":{"top":"var:preset|spacing|40","right":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"className":"main-h1","fontSize":"x-large"} -->
    <h2 class="wp-block-heading has-text-align-center main-h1 has-x-large-font-size" style="margin-top:var(--wp--preset--spacing--40);margin-right:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);margin-left:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--80);font-style:normal;font-weight:100;line-height:1.2">Hi, <em>i'm Mauro</em> i work as <strong>Frontend Developer </strong>&amp; <strong>Wordpress Developer</strong>, <em>Welcome to my Blog</em>.</h2>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:paragraph -->
    <p><strong>Grainy is a Full Block Theme</strong> powered by all the latest and awesome features of Block Themes. With me <strong>you can create awesome web site in minutes</strong> without coding! Choose beetween the <strong>styles</strong> your prefer, choose the <strong>patterns</strong> ready to use for you and <strong>you're ready to go!</strong></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:0;padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:columns {"align":"wide","style":{"border":{"radius":"0px"}}} -->
    <div class="wp-block-columns alignwide" style="border-radius:0px"><!-- wp:column {"style":{"spacing":{"padding":{"top":"1.5rem","bottom":"1.5rem","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}},"border":{"width":"0px","style":"none"}}} -->
    <div class="wp-block-column" style="border-style:none;border-width:0px;padding-top:1.5rem;padding-right:var(--wp--preset--spacing--50);padding-bottom:1.5rem;padding-left:var(--wp--preset--spacing--50)"><!-- wp:image {"align":"center","id":79724,"width":80,"height":80,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image aligncenter size-full is-resized"><img src="http://blockthemecourse.local/wp-content/uploads/2023/06/logo-racampora.png" alt="" class="wp-image-79724" width="80" height="80"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","level":4,"style":{"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"padding":{"top":"var:preset|spacing|30"}}}} -->
    <h4 class="wp-block-heading has-text-align-center" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:var(--wp--preset--spacing--30)">All the pattern you need</h4>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Grainy comes with X Patterns for a ready cool web site in minutes.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"style":{"spacing":{"padding":{"top":"1.5rem","bottom":"1.5rem","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}},"border":{"width":"0px","style":"none"}}} -->
    <div class="wp-block-column" style="border-style:none;border-width:0px;padding-top:1.5rem;padding-right:var(--wp--preset--spacing--50);padding-bottom:1.5rem;padding-left:var(--wp--preset--spacing--50)"><!-- wp:image {"align":"center","id":79724,"width":80,"height":80,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image aligncenter size-full is-resized"><img src="http://blockthemecourse.local/wp-content/uploads/2023/06/logo-racampora.png" alt="" class="wp-image-79724" width="80" height="80"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","level":4,"style":{"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"padding":{"top":"var:preset|spacing|30"}}}} -->
    <h4 class="wp-block-heading has-text-align-center" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:var(--wp--preset--spacing--30)">Awesome Speed</h4>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Grainy is super speed! Not a single line of JS make the site ultra fast.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"style":{"spacing":{"padding":{"top":"1.5rem","bottom":"1.5rem","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}},"border":{"width":"0px","style":"none"}}} -->
    <div class="wp-block-column" style="border-style:none;border-width:0px;padding-top:1.5rem;padding-right:var(--wp--preset--spacing--50);padding-bottom:1.5rem;padding-left:var(--wp--preset--spacing--50)"><!-- wp:image {"align":"center","id":79724,"width":80,"height":80,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image aligncenter size-full is-resized"><img src="http://blockthemecourse.local/wp-content/uploads/2023/06/logo-racampora.png" alt="" class="wp-image-79724" width="80" height="80"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:heading {"textAlign":"center","level":4,"style":{"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"padding":{"top":"var:preset|spacing|30"}}}} -->
    <h4 class="wp-block-heading has-text-align-center" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:var(--wp--preset--spacing--30)">Awesome Style for your site</h4>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Choose between a lot of differents style for your web site.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:query {"queryId":29,"query":{"perPage":"10","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"layout":{"type":"constrained"}} -->
    <div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default","columnCount":3}} -->
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"stretch","orientation":"vertical"}} -->
    <div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"80%"} -->
    <div class="wp-block-column" style="flex-basis:80%"><!-- wp:post-title {"isLink":true,"linkTarget":"_blank","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"var:preset|spacing|60"}},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"33.33%","style":{"spacing":{"blockGap":"0","padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} -->
    <div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:33.33%"><!-- wp:post-date {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"textColor":"primary","fontSize":"small"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}},"color":{"background":"#2c2c2c"}},"className":"is-style-default"} -->
    <hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-default" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);background-color:#2c2c2c;color:#2c2c2c"/>
    <!-- /wp:separator -->
    <!-- /wp:post-template -->
    
    <!-- wp:query-pagination {"paginationArrow":"chevron","layout":{"type":"flex","justifyContent":"space-between"}} -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-numbers {"fontSize":"small"} /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->
    
    <!-- wp:query-no-results -->
    <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
    <p></p>
    <!-- /wp:paragraph -->
    <!-- /wp:query-no-results --></div>
    <!-- /wp:query -->
    
    <!-- wp:template-part {"slug":"footer","theme":"BlockThemeCourse","tagName":"footer","className":"site-footer"} /-->